body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Header */

.header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.header img {
    width: 90px;
    height: 90px;
    margin-right: auto;
}

.header-links { 
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}

.header-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 16px;
    font-family: 'Roboto', arial;
    padding: 10px;
}

/* Description */

.description {
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.description-content {
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.description-content p {
    font-family: 'Roboto', arial;
    opacity: 0.6;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0;
    font-family: 'Roboto', arial;
}

.description button {
    display: block;
    text-align: center;
    width: 100px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 6px;
    color: #ffffff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.description-img img{
    width: 500px;
    height: 350px;
}

/* Content (img with subtext) */

.content {
    align-items: center;
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px 20px 0px 20px;
}

.info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882f6;
    border-radius: 12px;
}

.info p {
    width: 250px;
}

/* Quote */

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    font-style: italic;
    font-weight: lighter;
    padding: 0px 180px;
}

.quote p {
    font-size: 32px;
    color: #1f2937;
}

.quote b {
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: right;
}

/*  */